[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Tt]est[Rr]esults/
.dist/
Assets/_Recovery/
Assets/_Recovery.meta
MoodleEntrega.txt

*.csproj
*.sln
*.slnx
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

.DS_Store
.idea/
.vscode/
